/output/*
/.gitignore
/src/__pycache__/
/examples/__pycache__/
/src/generators/__pycache__/
/src/orientation/__pycache__/
/src/plotting/__pycache__/
/src/io/__pycache__/
/src/stiffness/__pycache__/
/tests/__pycache__/
**/__pycache__/
/src/orientation/texture/__pycache__/
*.egg-info/
.ruff_cache/
.pytest_cache/
*.so
*.pyd
*.dylib
build/
dist/
**/*.pyc
src/synth_struct/_cpp_extensions/*.so
src/synth_struct/_cpp_extensions/*.pyd
code_test.py
